In [1]:
# Program to calculate the area of a circle

import math

radius = float(input("Enter the radius of the circle: "))

area = math.pi * radius ** 2

print("The area of the circle is:", area)

Enter the radius of the circle:  4

The area of the circle is: 50.26548245743669

In [2]:
#Solve the expression. 5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1')

5.2 + True + bool(-5) - 4 + 42//5 + bool(0) + False + int(5.9) + float('1')

17.2

In [5]:
#Write code to test whether the given number lies between 1 and 10

num = float(input("Enter a number: "))

if 1 < num < 10:
    print("The number lies between 1 and 10.")
else:
    print("The number does NOT lie between 1 and 10.")

Enter a number:  6

The number lies between 1 and 10.

In [7]:
#sum the numbers from 1 to 20 using for loop

total = 0
for i in range(1, 101):
    total += i

print("The sum of numbers from 1 to 100 is:", total)

The sum of numbers from 1 to 100 is: 5050

In [8]:
#Display the numbers in reverse from 100 to 1

for i in range(100, 0, -1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [9]:
#Display multiples of 2 from 10 to 50 using range

for i in range(10, 51, 2):
    print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [13]:
#From the below nested dictionary, pick the word "Bangalore". 
d = {'1':'Three','2':[1,{'Five':['Om','Sh','Rutuja',{'Place':[5,6,7,'Pune']}]}]}
Pune = d['2'][1]['Five'][3]['Place'][3]
print("Extracted word:", Pune)

Extracted word: Pune

In [15]:
#Use functions to return square of numbers from 2 to 5

def square(num):
    return num ** 2

for i in range(2, 12):
    print(f"Square of {i} is {square(i)}")

Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100
Square of 11 is 121

In [16]:
## Accept comma-separated numbers from the user
input_str = input("Enter comma-separated numbers: ")

number_list = input_str.split(',')

number_tuple = tuple(number_list)

print("List:", number_list)
print("Tuple:", number_tuple)

Enter comma-separated numbers:  10,20,30,40,50,60,70,80,90

List: ['10', '20', '30', '40', '50', '60', '70', '80', '90']
Tuple: ('10', '20', '30', '40', '50', '60', '70', '80', '90')

In [17]:
#Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]
print("First color:", color_list[0])
print("Last color:", color_list[-1])

First color: Red
Last color: Black