In [4]:
#Write a Python program to calculate number of days between two dates.

from datetime import date

date1 = date(2014, 7, 2)
date2 = date(2014, 11, 2)
delta = date2 - date1

print("Number of days between", date1, "and", date2, "is:", delta.days)

Number of days between 2014-07-02 and 2014-11-02 is: 123

In [8]:
#Write a Python program to get the difference between a given number and 17,
#if the number is greater than 17 return double the absolute difference

def difference_with_17(n):
    if n > 17:
        return 2 * abs(n - 17)
    else:
        return abs(n - 17)
num = int(input("Enter a number: "))
result = difference_with_17(num)
print("Result:", result)

Enter a number:  66

Result: 98

In [9]:
#To check whather given element exists in list or not??
#list=[1,2,3,4,5,6,7,8,9,10]
#check if 9 and 12 are present in given list or not

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
if 9 in my_list:
    print("9 is present in the list.")
else:
    print("9 is NOT present in the list.")
if 12 in my_list:
    print("12 is present in the list.")
else:
    print("12 is NOT present in the list.")

9 is present in the list.
12 is NOT present in the list.

In [10]:
#Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it.
#And also it must return both addition and subtraction in a single return call

def calculation(a, b):
    addition = a + b
    subtraction = a - b
    return addition, subtraction  # Returns a tuple

x = 20
y = 5
result = calculation(x, y)

print("Addition:", result[0])
print("Subtraction:", result[1])

Addition: 25
Subtraction: 15

In [12]:
#Create a function showEmployee() in such a way that it should accept employee name, and itâ€™s salary and display both,
#and if the salary is missing in function call it should show it as 9000

def showEmployee(name, salary=90000):
    print("Employee Name:", name)
    print("Salary:", salary)

showEmployee("Rutuja", 120000)  
showEmployee("Shruti")

Employee Name: Rutuja
Salary: 120000
Employee Name: Shruti
Salary: 90000

In [14]:
#Generate a Python list of all the even numbers between 4 to 90

even_numbers = list(range(4, 91, 2))
print("Even numbers from 4 to 91:", even_numbers)

Even numbers from 4 to 91: [4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90]

In [16]:
#Return the largest item from the given list

def find_largest(my_list):
    return max(my_list)

numbers = [10, 25, 87, 42, 120, 459, 99, 3]

largest = find_largest(numbers)
print("The largest item in the list is:", largest)

The largest item in the list is: 459

In [18]:
#Passing an arbitrary number of arguments to a Python function

def my_function(*args):
    print("Arguments passed:", args)
    total = sum(args)
    print("Sum:", total)

my_function(10, 20, 30, 40, 50, 60, 70)

Arguments passed: (10, 20, 30, 40, 50, 60, 70)
Sum: 280

In [19]:
#Passing an arbitrary number of arguments to a Python function

def show_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

show_details(name="Rutuja", age=22, city="Mumbai")

name: Rutuja
age: 22
city: Mumbai

In [21]:
#Write a Python function to multiply all the numbers in a list. Sample List : (8, 2, 3, -1, 7) 

def multiply_list(numbers):
    result = 1
    for num in numbers:
        result *= num
    return result
sample_list = [8, 2, 3, -1, 7, 8, 9]
product = multiply_list(sample_list)
print("Product of all numbers:", product)

Product of all numbers: -24192