In [10]:
#prime number
def is_prime(n):
    if(n<2):
        return False
    for i in range(2, int(n**0.5)+1):
        if(n%i==0):
            return False
    return True
print("Is 10 prime", is_prime(10))

Is 10 prime False

In [12]:
#function for information
def student_info(name, age, grade, marks, profesion):
    student = {"Name": name,"Age": age,"Grade": grade, "Marks": marks, "Profesion": profesion}
    return student
info = student_info("Rutuja", 22, "A", 89, "Pharmacist")
print(info)

{'Name': 'Rutuja', 'Age': 22, 'Grade': 'A', 'Marks': 89, 'Profesion': 'Pharmacist'}

In [14]:
#find maximum number 
def find_max(a, b, c):
    return max(a, b, c)
print("Max of 67, 78, 56:", find_max(67, 78, 56))

Max of 67, 78, 56: 78

In [18]:
#Function to Calculate Simple Interest
def simple_interest(principal, rate, time):
    return(principal*rate*time) / 100
print("Simple Interest:", simple_interest(1000, 9, 8))

Simple Interest: 720.0

In [21]:
# Function to Convert Celsius to Fahrenheit
def celsius_to_fahrenheit(c):
    return (c*9/5) + 32
print("34°C in Fahrenheit:", celsius_to_fahrenheit(34))

34°C in Fahrenheit: 93.2

In [24]:
#Function to Calculate Area of a Circle
def area_of_circle(radius):
    pi=3.14
    return pi*radius**2
print("Area of circle with radius 3:", area_of_circle(3))

Area of circle with radius 3: 28.26

In [31]:
#Function to Find the GCD (Greatest Common Divisor)
def gcd(a, b):
    while(b!=0):
        a,b=b,a%b
    return a
print("GCD of 45 and 90:", gcd(45, 90))

GCD of 45 and 90: 45

In [33]:
#Function to Capitalize Each Word in a Sentence
def capitalize_words(sentence):
    return sentence.title()
print(capitalize_words("rutuja ajay khose"))

Rutuja Ajay Khose

In [34]:
#Function to Merge Two Dictionaries
def merge_dicts(dict1, dict2):
    merged=dict1.copy()
    merged.update(dict2)
    return merged
d1={"a": 1, "b": 2}
d2={"c": 3, "d": 4}
print("Merged Dictionary:", merge_dicts(d1, d2))

Merged Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [36]:
#Function to Remove Duplicates from a List
def remove_duplicates(items):
    return list(set(items))
numbers=[1, 2, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7, 9, 9, 9]
print("Original list:", numbers)
print("List after removing duplicates:", remove_duplicates(numbers))

Original list: [1, 2, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7, 9, 9, 9]
List after removing duplicates: [1, 2, 3, 4, 5, 6, 7, 9]