In [1]:
#create a tuple of vegetables
vagetables=("Tomato", "Bottle Gourd", "Potato", "Pea", "Green Chili", "Cucumber", "Onion", "Cauliflower", "Bitter Gourd")
print(vagetables)

('Tomato', 'Bottle Gourd', 'Potato', 'Pea', 'Green Chili', 'Cucumber', 'Onion', 'Cauliflower', 'Bitter Gourd')

In [3]:
#Accessing Tuple Elements
fruits=("apple", "banana", "orange", "grapes", "mango", "strawberry", "pineapple", "watermelon")
print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])
print(fruits[4])

First fruit: apple
Last fruit: watermelon
mango

In [4]:
# Concatenate and Repeat Tuples
tuple1 = (1, 2, 3, 4, 5, 6)
tuple2 = (7, 8, 9, 10)
result = tuple1 + tuple2
repeat = tuple1 * 2
print("Concatenated:", result)
print("Repeated:", repeat)

Concatenated: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Repeated: (1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [10]:
#Count and Index Methods
data=(1, 2, 3, 2, 4, 2, 5)
print(data.count(2))
print(data.index(3))

3
2

In [11]:
#Convert Tuple to List and Back
tuple1 = (10, 20, 30, 40, 50, 60, 70)
list1 = list(tuple1)
list1.append(40)
tuple2 = tuple(list1)
print("Modified tuple:", tuple2)

Modified tuple: (10, 20, 30, 40, 50, 60, 70, 40)

In [12]:
# Unpack a Tuple
person = ("Rutuja", 22, "India")
name, age, country = person
print("Name:", name)
print("Age:", age)
print("Country:", country)

Name: Rutuja
Age: 22
Country: India

In [13]:
#Tuple with Mixed Data Types
info = ("Rutuja", 22, True, 75.5)
for item in info:
    print(f"{item} - {type(item)}")

Rutuja - <class 'str'>
22 - <class 'int'>
True - <class 'bool'>
75.5 - <class 'float'>

In [14]:
# Nesting Tuples
student = ("Rutuja", ("Math", "Science", "English"))
print("Student Name:", student[0])
print("Subjects:", student[1])
print("First Subject:", student[1][0])

Student Name: Rutuja
Subjects: ('Math', 'Science', 'English')
First Subject: Math

In [15]:
# Tuple as Dictionary Keys
# Tuples can be keys because they are immutable
locations={(19.07, 72.87): "Mumbai",(28.61, 77.20): "Delhi"}
print("City at (19.07, 72.87):", locations[(19.07, 72.87)])

City at (19.07, 72.87): Mumbai

In [20]:
# Function to check if a number is prime
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

start = int(input("Enter start of range: "))
end = int(input("Enter end of range: "))

# Find all prime numbers in the range
prime_list = []
for num in range(start, end + 1):
    if is_prime(num):
        prime_list.append(num)
prime_tuple = tuple(prime_list)
print("Prime numbers in tuple form:", prime_tuple)

Enter start of range:  2
Enter end of range:  99

Prime numbers in tuple form: (2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97)